@import '../variables';

.categories {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
      background-color:  #ffaabc;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      margin-bottom: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken( #ffaabc, 2%);
      }

      &:active {
        background-color: darken( #ffaabc, 5%);
      }

      &.active {
        background-color: #fe5779;
        color: #fff;
      }
    }
  }
}
